<div class="container d-flex flex-column justify-content-center align-items-center h-100">
  <h1 class="text-center text-white mb-5">Spotify App</h1>
  <div class="col-md-6">
    <form action="/artist-search" method="GET">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for an artist" aria-label="Search for an artist" name="artist">
        <button class="btn btn-success" type="submit">Search</button>
      </div>
    </form>
  </div>
</div>

